$font-stack: Bebas Neue,Arial, Helvetica, sans-serif;
$font-presentation: Roboto,Arial, Helvetica, sans-serif;
$text-color:black;
$navbar-text-color:white;
$standard-gap:40px;
$transition-in-style: transform 0.5s ease;
$transition-out-style: transform 0.5s ease;
$transform-style: scale(1.09);