.footer {
    width: 100%;
    height: 100px;
    color: black;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 20px;
    .social-icons {
        display: flex;
        gap: 10px;
        justify-content: center;
        padding: 10px;
        #facebook {
            color: rgb(35, 35, 216);
        }
        #instagram {
            color: rgb(223, 24, 223);
        }
        #twitter {
            color: rgb(0, 0, 0);
        }
    }
}